/* 
    Document   : main
    Created on : Nov 20, 2012, 9:17:51 PM
    Author     : f0rk
    Description:
        Common css styles.
*/

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Toolbar */

.toolbar {
  margin: 2px;
}

.toolbar .navbar .nav > li > a {
  padding: 6px 12px;
  outline: none;
}

.toolbar .navbar-inner {
  min-height: 32px;
}

.toolbar .navbar .btn, 
.toolbar .navbar .btn-group {
  margin: 3px;
}

/* Grid */

.show-grid {
  margin-bottom: 10px;
  margin-top: 5px;
}

.show-grid .grid-cell {
  background-color: #EEEEEE;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
}

/* TODO: switch to fixed row */

.row-fluid [class*="span"] {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
    float: left;
    margin-left: 2.5641%;
}

/* Panel */

.panel {
  background-color: #FAFAFA;
  background-repeat: repeat-x;
  border: 1px solid #D4D4D4;
  bottom: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.17);
  margin-bottom: 2px;
  position: absolute;
  top: 0;
  border: 1px solid #D4D4D4;
  border-radius: 4px 4px 4px 4px;
  font-size: 12px;
}

.panel-section {
  position: relative;
}

.panel-section-header {
  width: 100%;
  height: 20px;
  background-color: #E5E5E5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}

.panel-section-content {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 20px;
}

.panel-element {
  padding: 5px 8px;
  font-size: 12px;
}

.panel-element:hover {
  background-color: #f5f5f5;
}

.panel-section-header .panel-section-label {
  padding-left: 10px;
  color: #555555;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}

.panel-element .panel-label {
  padding: 3px 0;
  display: block;
  float: left;
  vertical-align: sub;
}

.panel-element input {
  height: 14px;
  margin-bottom: 0;
  width: 150px;
  font-size: 12px;
}

/* Modal */

.modal {
  margin: -140px 0 0 -280px;
}

.modal-body, .modal-header, .modal-footer {
  text-align: center;
}