<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="designer-link"><a href="/">designer</a></li>
      <li class="editor-link"><a href="/editor">editor</a></li>
      <li class="preview-link"><a href="/preview">preview</a></li>
    </ul>

    <div class="pull-right">
      <button class="btn btn-small btn-success">download source</button>
      <a href="#new" role="button" class="btn btn-small btn-success" data-toggle="modal">new project</a>
    </div>
  </div>
</div>